<div class="home__services__wrapper">
	<div class="container">
		<div class="home__services__section">
			<h1 class="home__services__header">Our Services Your one-stop shop</h1>
			<div class="home__services__features">
				<div class="home__services__block">
					<a href="#" class="home__services__img__wrap">
						<img src="media\img\home\ERP_consulting.png" alt="">
						<div class="home__services__img__wrap-content">
							<img src="media\img\home\erp_consulting_icon.png" alt="">
							<div class="overlay"></div>
						</div>
					</a>
					<div class="home__services__img__description">
						<p class="title" href="#">ERP Consulting</p>
						<p class="sub_title">Dataview provides a full life cycle support for ERP project implementations, starting from pre-RFP</p>
						<a href="#" class="read__more__btn">Read more</a>
					</div>
				</div>
				<div class="home__services__block">
					<a href="#" class="home__services__img__wrap">
						<img src="media\img\home\manager_services.png" alt="">
						<div class="home__services__img__wrap-content">
							<img src="media\img\home\managed_services_icon.png" alt="">
							<div class="overlay"></div>
						</div>
					</a>
					<div class="home__services__img__description">
						<p class="title" href="#">Managed Services</p>
						<p class="sub_title">Dataview provides 24x7 managed services and operational support staff using its onshore and </p>
						<a href="#" class="read__more__btn">Read more</a>
					</div>
				</div>
				<div class="home__services__block">
					<a href="#" class="home__services__img__wrap">
						<img src="media\img\home\custom_dev.png" alt="">
						<div class="home__services__img__wrap-content">
							<img src="media\img\home\custom_dev_icon.png" alt="">
							<div class="overlay"></div>
						</div>
					</a>
					<div class="home__services__img__description">
						<p class="title" href="#">Custom Development</p>
						<p class="sub_title">Dataview has a team of senior developers and technical architects providing custom</p>
						<a href="#" class="read__more__btn">Read more</a>
					</div>
				</div>
			</div>
			<div>
				<a href="static_services.html" class="btn--primary">View all services</a>
			</div>
		</div>
	</div>
</div>