



@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/Avenir/AvenirNext-Bold.eot');
  src: url('../fonts/Avenir/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Avenir/AvenirNext-Bold.woff2') format('woff2'),
      url('../fonts/Avenir/AvenirNext-Bold.woff') format('woff'),
      url('../fonts/Avenir/AvenirNext-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/Avenir/AvenirNext-Regular.eot');
  src: url('../fonts/Avenir/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Avenir/AvenirNext-Regular.woff2') format('woff2'),
      url('../fonts/Avenir/AvenirNext-Regular.woff') format('woff'),
      url('../fonts/Avenir/AvenirNext-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
