
<div class="services__section">
    <h1 class="services__header">Our Services Your one-stop shop</h1>
    <div class="services__features">    
        <div class="service__block">
            <div class="services__img__wrap">
                <img src="media\img\services\erp_consulting.png" alt="">
                <div>
                    <img src="media\img\services\erp_consulting_icon.png" alt="">
                </div>
            </div>
            <div class="services__img__description">
                <p class="title" href="#">ERP Consulting</p>
                <p>Dataview provides a full life cycle support for ERP project implementations, starting from pre-RFP as-is-analysis to compile requirements to post-go-live operational support. Our consulting services include:</p>
                <p>Pre-RFP Support: Our team of business analysts and architects work with our customers to help draft the RFP. Our services include:</p>
                <ul class="services__list">
                    <li><i class="fas fa-check-circle check-icon"></i>Review of existing business processes to help draft requirements</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Review of existing technical architecture</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Inventory of existing business systems and integration requirements</li>
                </ul>
                <p>Due Diligence: With more than 15 years of experience implementing IT projects, we provide our clients with the intelligence they need to make informed decisions about project awards. Our services include:</p>
                <ul class="services__list">
                    <li><i class="fas fa-check-circle check-icon"></i>Review of RFP requirements to evaluate hardware and software needs</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Evaluation of RFP responses to confirm proposed solution</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Evaluation of software stack and license needs</li>
                </ul>
                <p>Hardware & Software Procurement: We work with our clients to review requirements and identify a cost effective and scalable solution. 
                        Our principals have extensive experience working with major hardware vendors and resellers. Our services include:</p>
                <ul class="services__list">
                    <li><i class="fas fa-check-circle check-icon"></i>Hardware & software configuration and procurement</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Facility planning and working with the data center to coordinate delivery and installation of the hardware</li>
                </ul>
                <p>Ongoing Services: After the initial implementation we work with our clients to ensure a scalable and optimal solution by offering 
                        the following:</p>
                <ul class="services__list">
                    <li><i class="fas fa-check-circle check-icon"></i>Annual Capacity Planning based on user and transaction growth trends</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Hardware & software refresh cycle recommendations based on hardware and software vendor product road maps</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Software license reviews to validate deployment and future needs</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="services__features">    
        <div class="service__block">
            <div class="services__img__wrap">
                <img src="media\img\services\managed_services.png" alt="">
                <div>
                    <img src="media\img\services\managed_services_icon.png" alt="">
                </div>
            </div>
            <div class="services__img__description">
                <p class="title" href="#">Managed Services</p>
                <p class="sub_title">Dataview provides 24x7 managed services and operational support staff using its onshore and offshore locations.</p>
                <p>Application Operations: Our post go-live support services include supporting our client with the day to day operational activities. Our extensive experience with managing ERP solutions allows our clients to meet the system SLA's and user expectations. Our services include:</p>
                <ul class="services__list">
                    <li><i class="fas fa-check-circle check-icon"></i>Setup of application & server monitoring with proactive alerts & notifications</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Defining database backup & restore policies that meet the client processes and business SLAs</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Defining a nightly cycle design based on business requirements</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Providing support for nightly job execution and monitoring</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Defining and implementing a data archiving and retention architecture based on policies</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Setup of help desk</li>
                </ul>
                <p>System Administration: Our team will help implement the infrastructure and do ongoing application and database server management. Our services include</p>
                <ul class="services__list">
                    <li><i class="fas fa-check-circle check-icon"></i>Configuration, deployment and management of virtualized infrastructu</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Installation, configuration and management of database servers</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Server Patching, monitoring and administration</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Setup of alerts and dashboards for ongoing monitoring of infrastructure</li>
                </ul>
                <p>Configuration Management: Our team will help implement configuration and change management processes that leverage industry leading practices and tools. Our services include</p>
                <ul class="services__list">
                    <li><i class="fas fa-check-circle check-icon"></i>Defining configuration management processes</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Setup of configuration and version management tools</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Proving ongoing application patching</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="services__features">    
        <div class="service__block">
            <div class="services__img__wrap">
                    <img src="media\img\services\customer_dev.png" alt="">
                <div>
                    <img src="media\img\services\custom_dev_icon.png" alt="">
                </div>
            </div>
            <div class="services__img__description">
                <p class="title" href="#">Custom Development</p>
                <p>Dataview has a team of senior developers and technical architects providing custom application development services using industry leading frameworks and programming languages. We provide development in</p>
                <ul class="services__list">
                    <li><i class="fas fa-check-circle check-icon"></i>Java</li>
                    <li><i class="fas fa-check-circle check-icon"></i>ASP.NET</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Angular Framework</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Telerik Controls</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="services__features">    
        <div class="service__block">
            <div class="services__img__wrap">
                <img src="media\img\services\business_intelligence.png" alt="">
                <div>
                    <img src="media\img\services\business_intelligence_icon.png" alt="">
                </div>
            </div>
            <div class="services__img__description">
                <p class="title" href="#">Business Intelligence</p>
                <p class="sub_title">Dataview has focused on creating business intelligence solutions for our customers allowing them insight into the operational data. Our staff has extensive experience in designing, developing and implementing solutions for large public sector clients.</p>
                <p>Data Warehouse: We work with our clients to review Business Intelligence requirements and identify a cost effective and scalable solution. Our team has extensive experience working with major BI solutions and third party vendors. Our services include:</p>
                <ul class="services__list">
                    <li><i class="fas fa-check-circle check-icon"></i>Data modelling</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Custom design and development of dimensional models</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Solution selection and implementation to meet business goals</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Conversion of historical data into the same data repository as current data in order to deliver instant insights into operations</li>
                </ul>
                <p>Data Warehouse: We work with our clients to review Business Intelligence requirements and identify a cost effective and scalable solution. Our team has extensive experience working with major BI solutions and third party vendors. Our services include:</p>
                <ul class="services__list">
                    <li><i class="fas fa-check-circle check-icon"></i>Delivery of integrated, accurate, and timely data across the enterprise</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Data quality assurance services to define and apply cleansing rules and monitor quality of data on an on-going basis</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="services__features">    
        <div class="service__block">
            <div class="services__img__wrap">
                <img src="media\img\services\testing_services.png" alt="">
                <div>
                    <img src="media\img\services\testing_services_icon.png" alt="">
                </div>
            </div>
            <div class="services__img__description">
                <p class="title" href="#">Testing Services</p>
                <p class="sub_title">We believe that the success of any implementation depends on the level and forms of testing. As part of our go-live and post-go-live activities we provide comprehensive testing support to our customers to mitigate any risks during cutover or deployment of major software upgrades.</p>
                <p>Performance Testing: As part of our project pre go-live activities, we also assist our clients in creating performance test plans based on projected user and transaction volumes. Our extensive experience with multi-tier application architecture allows us to create tests that simulate real world conditions. Our services include:</p>
                <ul class="services__list">
                    <li><i class="fas fa-check-circle check-icon"></i>Defining performance test plan based on user feedback and requirement analysis</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Creating automated performance test scripts using industry standard tools such as JMeter or SilkPerformer</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Performance test execution and tuning of the database and application tiers</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Working with application and third-party vendors to log and resolve issues</li>
                </ul>
                <p>Regression Testing: We provide regression testing support for large scale projects implementing a 'waterfall' SDLC. Our services include:</p>
                <ul class="services__list">
                    <li><i class="fas fa-check-circle check-icon"></i>Defining regression test plan based on requirements analysis</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Design and development of automated scripts</li>
                    <li><i class="fas fa-check-circle check-icon"></i>Defining issue/defect tracking work flow processes using standard tools</li>
                </ul>
            </div>
        </div>
    </div>
</div>
    
