<div class="leadership__wrapper">
    <div class="container">
        <div class="leadership__section">
            <h1 class="leadership__header">Leadership Team</h1>
            <div class="leadership__features">    
                <div class="leadership__img__wrap">
                    <div class="green__highlight">
                        <img src="media\img\about\leader_ship_1.png" alt="">
                    </div>
                    <div class="leadership__img__description">
                        <span class="title" href="#">Sanjeev Musafir</span>
                        <span class="sub_title">Sanjeev Musafir has more than 22 years of experience as a technical architect and IT execute. He has a proven record of success in building and leading software development teams, directing software deployment, managing architecture design and product development. Special expertise in client support, team motivation, Service Oriented Architecture (SOA), database and object-oriented design, project management, and service delivery management.  
                            Before founding Dataview, Sanjeev worked for 17 years at CGI on ERP product development, design and implementation. He worked as a technical architect implementing ERP solutions for large public sector clients including the City of New York and the State of West Virginia.</span>
                        <span class="sub_title">Sanjeev has an MS in Computer Science from the University of Iowa and an MBA from Dartmouth with focus on general management and entrepreneurship.</span>
                    </div>
                </div>
                <div class="leadership__img__wrap">
                    <div class="green__highlight">
                        <img src="media\img\about\leader_ship_2.png" alt="">
                    </div>
                    <div class="leadership__img__description">
                        <span class="title" href="#">Mohsine Badre</span>
                        <span class="sub_title">Mohsine Badre has more than 25 years in the Information Technology industry and has a wide range of experience in system analysis, design, development, and implementation of both custom and package-based systems for state and local government. His technical experience includes application development, application architecture, Data Integration, Data Warehouse, Business Intelligence and Analytics. Mo has experience with Oracle, DB2, SQL Server, .Net, SAP BI Tools, Microsoft BI Tools, COBOL, C++, MS Office, Windows, and UNIX.</span>
                        <span class="sub_title">For the past 10 years, Mohsine’s main focus is in implementing and upgrading BusinessObjects Business Intelligence solutions for large public sector clients.. He has successfully managed upgrades from version 6.5 to BO XI R2, BO XI R2 to BO XI R3.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
