<div class="home__links__wrapper">
    <div class="container">
        <div class="home__links__section">
            <div class="home__links__features">    
                <div class="home__links__img__wrap">
                    <span class="home__icon start__icon"></span>
                    <div class="home__links__img__description">
                        <p class="title" href="#">In 2014</p>
                        <p class="sub_title">Dataview was formed</p>
                    </div>
                </div>
                <div class="home__links__img__wrap">
                    <span class="home__icon implementation__icon"></span>
                    <div class="home__links__img__description">
                        <p class="title" href="#">$100 m</p>
                        <p class="sub_title">Implementation of projects</p>
                    </div>
                </div>
                <div class="home__links__img__wrap">
                    <span class="home__icon years__icon"></span>
                    <div class="home__links__img__description">
                        <p class="title" href="#">75+ years</p>
                        <p class="sub_title">Combined experience</p>
                    </div>
                </div>
                <div class="home__links__img__wrap">
                    <span class="home__icon support__icon"></span>
                    <div class="home__links__img__description">
                        <p class="title" href="#">24/7</p>
                        <p class="sub_title">Support to our client</p>
                    </div>
                </div>
                <div class="home__links__img__wrap">
                    <span class="home__icon offshore__icon"></span>
                    <div class="home__links__img__description">
                        <p class="title" href="#">New Jersey</p>
                        <p class="sub_title">Offshore operations center in Bangalore</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
