<div class="history__section__wrapper">
    <div class="container">
        <div class="history__section">
            <div>
                <h1 class="history__header">Company History</h1>
                <p>Dataview consulting was formed in 2014 with the goal of providing full life cycle technical expertise for ERP projects for large public sector clients. The principals are senior technical architects who have worked with various leading consulting firms and have implemented numerous large (>$100 m) and medium projects.</p>
                <p>Our clients get the advantage of working with trusted and dedicated partner to develop and implement solutions for business and technology challenges. With a combined experience of 75+ years between our principals, you get unparalleled industry expertise. Dataview is currently based in New Jersey  with an offshore development and operations center in Bangalore,  India. The global footprint allows Dataview to provide 24x7 support to our clients.</p>
            </div>
            <div class="history__separator"></div>
            <div>
                <h1 class="history__header">Our Mission and Values</h1>
                <p>Be a true long term partner to our customers and focus on delivering what we promise.  As a company we believe that that we need to continually learn and question the orthodoxy to be the best for our clients.</p>
            </div>
        </div>
    </div>
</div>
