@@include('src/modules/head/head.html',{"title":"DVC", "class":"index"})
@@include('src/modules/header/header.html', {"home":"true"})

<section class="page">
	<div class="home__board-carousel">
		@@include('src/modules/board/board.html', {
			"ins":"src/modules/home/home-board.html",
			"bg":"./media/img/home/2.jpg",
			"class":"home__board auto"
		})
		@@include('src/modules/board/board.html', {
			"ins":"src/modules/home/home-board.html",
			"bg":"./media/img/home/3.jpg",
			"class":"home__board auto"
		})
		@@include('src/modules/board/board.html', {
			"ins":"src/modules/home/home-board.html",
			"bg":"./media/img/home/4.jpg",
			"class":"home__board auto"
		})
		@@include('src/modules/board/board.html', {
			"ins":"src/modules/home/home-board.html",
			"bg":"./media/img/home/5.jpg",
			"class":"home__board auto"
		})
</div>
    @@include('src/modules/expertise-section/expertise-section.html')
    @@include('src/modules/home-links-section/home-links-section.html')
    @@include('src/modules/home-services-section/home-services-section.html')
    @@include('src/modules/reviews-section/reviews-section.html')
</section>

@@include('src/modules/footer/footer.html')
@@include('src/modules/foot/foot.html')