<div class="expertise__section__wrapper">
    <div class="container">
        <div class="expertise__section">
            <div>
                <h1 class="expertise__header">Our Expertise: Strong Public Sector Experience</h1>
                <p>Our principals have worked in leading consulting firms and have implemented numerous large (>$100 m) and medium projects</p>
                <p>Our clients get the advantage of working with trusted and dedicated partner to develop and implement solutions for business and technology challenges. With a combined experience of 45+ years between our principals, you get unparalleled industry expertise.</p>
            </div>
            <div class="expertise__separator"></div>
            <div>
                <h1 class="expertise__header">Technology Agnostic Picking the right tools</h1>
                <p>We have worked with various industry leading products such as BusinessObjects, Microsoft SSRS & SSIS, JasperReports amongst others. We are technology agnostic and will work with you in selecting the best tools and technologies that meet your needs</p>
            </div>
        </div>
    </div>
</div>
