<header class="header">
    <div class="container">
        <nav class="header__nav">
            <div class="header__logo">
                <a href="./">
                    <img src="./media/img/dvc-logo.png" alt="">
                </a>
            </div>
            <ul>
                <li>
                    <a class="@@if(context.home){active}" href="static_home.html">Home</a>
                </li>
                <li>
                    <a class="@@if(context.services){active}" href="static_services.html">Services</a>
                </li>
                <li>
                    <a class="@@if(context.about){active}" href="static_about.html">About</a>
                </li>
                <li>
                    <a class="@@if(context.contactus){active}" href="static_contact_us.html">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div>
</header>