<footer class="footer">
    <div class="container">
        <nav class="footer__nav">
            <div>
                <small>Copyright &copy; Dataview Consulting Inc 2018. All Rights Reserved</small>
            </div>
            <ul>
                <li>
                    <a class="" href="static_home.html">Home</a>
                </li>
                <li>
                    <a class="" href="static_services.html">Services</a>
                </li>
                <li>
                    <a class="" href="static_about.html">About</a>
                </li>
                <li>
                    <a class="" href="static_contact_us.html">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>