<div class="container">
    <div class="reviews__section">
        <div class="reviews__features">    
            <div class="reviews__img__wrap">
                <img src="media\img\home\wv_oasis_logo.png" alt="">
            </div>
            <div class="reviews__img__wrap">
                <img src="media\img\home\alabama_logo.png" alt="">
            </div>
            <div class="reviews__img__wrap">
                <img src="media\img\home\caltrans_logo.png" alt="">
            </div>
        </div>
        <div class="reviews__separator"></div>
        <div class="reviews__text">
            <i class="fas fa-quote-left quote-icon"></i>
            <p>Dataview is a prime contractor on the State of West Virginia wvOASIS ERP providing operational and technical support for West Virginia’s Advantage ERP system, including expertise in the area of payroll processing and reporting.</p>
            <p>The State ERP system comprises of Advantage Financial, Advantage HRM/Payroll, Advantage Budgeting, AgileAsset application for wvDOT, and for the Kronos Timekeeping application.</p>
            <p>Additional responsibilities include custom application development and ad-hoc support for data conversion and data integration between legacy systems and wvOASIS applications.</p>
            <i class="fas fa-quote-right quote-icon"></i>
        </div>
        <a href="#" class="btn--primary">View all reviews</a>
    </div>
</div>