<div class="container">
    <div class="customers__section">
        <h1 class="customers__header">Customers</h1>

        <div class="customers__slider">
            <img class="mySlides" src="media\img\home\wv_oasis_logo.png">
            <img class="mySlides" src="media\img\home\alabama_logo.png" >
            <img class="mySlides" src="media\img\home\caltrans_logo.png">
            
            <button class="prev__btn" onclick="plusDivs(-1)"><i class="fas fa-chevron-circle-left"></i></button>
            <button class="next__btn" onclick="plusDivs(1)"><i class="fas fa-chevron-circle-right"></i></button>
        </div>
        <div class="customers__separator"></div>
        <div class="customers__text">
            <i class="fas fa-quote-left quote-icon"></i>
            <p>Dataview is a prime contractor on the State of West Virginia wvOASIS ERP providing operational and technical support for West Virginia’s Advantage ERP system, including expertise in the area of payroll processing and reporting.</p>
            <p>The State ERP system comprises of Advantage Financial, Advantage HRM/Payroll, Advantage Budgeting, AgileAsset application for wvDOT, and for the Kronos Timekeeping application.</p>
            <p>Additional responsibilities include custom application development and ad-hoc support for data conversion and data integration between legacy systems and wvOASIS applications.</p>
            <i class="fas fa-quote-right quote-icon"></i>
        </div>
        <div>
            <a href="#" class="visit__link__btn">Visit the website</a>
            <a hrer="#" class="support__link__btn">State of West Virginia  ERP Support</a>
        </div>
    </div>
</div>