<div class="container">
    <div class="home__info__block">
            <div class="home__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
            <span class="home__separator"></span>
            <div class="home__sub__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
    </div>
</div>