
    <div class="contacts__section">
        <h1 class="contacts__header">Our contacts</h1>
        <div class="container">
			<div class="contacts__row">
            <div class="contacts__col-2">
                <div class="contactus__address__section">    
                    <div class="contactus__img__wrap">
                        <img src="media\img\contactus\office_img.png" alt="">
                        <div class="contactus__logo"><img src="media\img\dvc-logo-2lines.png"></div>
                        
                        <div class="address__section">
                            <p class="location" href="#">U.S. HEADQUARTERS</p>
                            <p class="city">Minneapolis</p>
                            <p class="index">2230 Cedar Hills Blvd</p>
                            <p class="address"><i class="fas fa-map-marker-alt contact__icon"></i>Minneapolis, MN, USA 55408</p>
                            <p class="phone"><a href="tel:(769)-224-9309"><i class="fas fa-phone contact__icon" ></i>(769)-224-9309</a></p>
                            <p class="email"><a href="mailto:isaiah.hudson12@example.com"><i class="fas fa-envelope contact__icon"></i>isaiah.hudson12@example.com</a></p>
                        </div>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-twitter-square"></i></a>
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-github-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contacts__col-2">
                <form method="POST" id="contactForm">
                    <div class="form-group required">
                        <label for="firstName">First Name</label>
                        <input id="firstName" name="firstName" placeholder="Enter your first name" required>
                    </div>
                    <div class="form-group required">
                        <label for="lastName">Last Name</label>
                        <input id="lastName"  name="lastName" placeholder="Enter your last name" required>
                    </div>
                    <div class="form-group required">
                        <label for="email">Email</label>
                        <input id="email"  name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group required">
                        <label for="phone">Phone Number</label>
                        <input id="phone" name="phone" placeholder="Enter your number" required>
                    </div>
                    <div class="form-group required">
                        <label for="companyName">Company Name</label>
                        <input id="companyName" name="companyName" placeholder="Enter your company name" required>
                    </div>
                    <div class="form-group required">
                        <label for="companyType">Company Type</label>
                        <select id="companyType" name="companyType" class="form-select" placeholder="Select your company type">
                            <option value="type1">Type 1</option>
                            <option value="type2">Type 2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Services Needed</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkboxField">
                                    <input type="checkbox" id="erpConsulting" value="ERP Consulting" name="services[]">
                                    <label for="erpConsulting">ERP Consulting</label>
                                </div>
                                <div class="checkboxField">
                                    <input type="checkbox" id="customDevelopment" value="Custom Development" name="services[]">
                                    <label for="customDevelopment">Custom Development</label>
                                </div>
                                <div class="checkboxField">
                                        <input type="checkbox" id="testingServices" value="Testing Services" name="services[]">
                                        <label for="testingServices">Testing Services</label>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkboxField">
                                    <input type="checkbox" id="managedServices" value="Managed Services" name="services[]">
                                    <label for="managedServices">Managed Services</label>
                                </div>
                                <div class="checkboxField">
                                        <input type="checkbox" id="businessIntelligence" value="Business Intelligence" name="services[]">
                                        <label for="businessIntelligence">Business Intelligence</label>
                                    </div>
                            </div>
                            
                            
                            
                            
                            
                        </div>
					</div>
                    <div class="form-group required">
                        <label for="message">Message</label>
                        <textarea id="message" name="message" rows="5" placeholder="Select your message" required>

                        </textarea>
                    </div>
                    <p class="license__text">I have read and am aware of my user rights in the processing of personal data as outlined in the <a href="#" class="license__link__btn">Privacy Policy</a> of DataView Consulting, Inc.</p>
                    <button class="btn--primary" type="submit">Get started</button>
                </form>
			</div>
		</div>
        </div>
    </div>